<section class="vh-100" style="margin-bottom: -20%;">
  {{#if success}}
  <div class="alert alert-success" role="alert">
    {{message}}
  </div>
  {{/if}}


  {{#if error}}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {{/if}}
  
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm mt-5">
            
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <form action="/transactions/addproduct" method="post">
                        <legend>Registra un nuovo prodotto:</legend>
                        <label for="name">Scegli un prodotto:</label>
                        <select id="name" name="name"> 
                            {{#each productSelection}}
                                <option value="{{this.required_amount}},'{{this.product_name}}'">{{this.product_name}},Materie prime necessarie: {{this.required_amount}}</option>
                            {{/each}}
                        </select> <br><br>
                        <label for="amount">Quantità:</label><br>
                        <input type="number" id="amount" name="amount" min="0" max="100"><br>
                        <label for="carbfoot">Carboon Footprint:</label><br>
                        <input type="number" id="carbfoot" name="carbfoot" min="0" max="100"><br>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Crea</button>
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-8">
                  <h3>Lista dei prodotti posseduti</h3>
                  <div class="card mb-3">
                    <div class="card-body">
                      {{#each products}}
                        <li>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">ID Lotto</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{this.idLotto}}
                            </div>
                            <div class="col-sm-3">
                              <h6 class="mb-0">Nome</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{this.name}}
                            </div>
                            <div class="col-sm-3">
                              <h6 class="mb-0">Quantità</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{this.amount}}
                            </div>
                            <div class="col-sm-3">
                              <h6 class="mb-0">Carbon Footprint</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{this.carbonfootprint}}
                            </div>
                          </div>
                        </li>
                        <hr>
                      {{/each}}
                  </div>
                </div>
                
              <div class="col-md-8">
                <h3>Lista delle materie prime possedute</h3>
                    <div class="card mb-3">
                        <div class="card-body">
                        {{#each ownRawMaterials}}
                            <li>
                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">ID Lotto</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{this.idLotto}}
                                </div>
                                <div class="col-sm-3">
                                <h6 class="mb-0">Nome</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{this.name}}
                                </div>
                                <div class="col-sm-3">
                                <h6 class="mb-0">Quantità</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{this.amount}}
                                </div>
                                <div class="col-sm-3">
                                <h6 class="mb-0">Carboon Footprint</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{this.carbonfootprint}}
                                </div>
                            </div>
                            </li>
                            <hr>
                        {{/each}}
                        </div>
                    </div>
              </div>

              </div>

            

          </div>
        </div>
    </div>
    
   

                 
  
</section>